.eapply-web-container {
  position: static;
  padding: 0;
}

.eapply-web-container.popup-opened {
  align-items: flex-start;
  max-width: 40em;
  position: static;
  overflow: hidden;
  max-height: 100%;
}

.eapply-web-container .eapply-job-details {
  display: none !important;
}

.eapply-web-container.popup-opened .eapply-popup {
  max-width: 100%;
  max-height: 100%;
  box-shadow: none;
}

.popup-header .back-btn {
  background-color: color-mix(in srgb, var(--primary-color) 10%, transparent);
  width: 73px;
  height: 36px;
  display: flex !important;
  align-items: center;
  margin: 0 8px;
  border-radius: 18px;
  width: max-content;
  flex-grow: 0 !important;
  border: 0;
  cursor: pointer;
  color: var(--primary-color);
}


.popup-header .back-btn span {
  padding-right: 6px;
}

dalia-apply-web[data-container-type="rvp"]  .back-btn span {
  display: none;
}

.eapply-web-container .eapply-popup .popup-header {
  gap: 8px;
  min-height: 4em !important;
  padding: 0;
}

.eapply-web-container .eapply-popup .popup-header > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
}


.text-grey {
  color: #8A8A8A;
}


#continue-applying-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  cursor: pointer;
  gap: 10px;
  overflow: hidden;
  border-radius: 28px;
  padding: 0.8em 1.5em;
  min-width: 300px;
}

.chat-container {

  overflow: hidden;
}

.eapply-web-container .chat-container .chat-messages {
  max-height: 100%;
}

.eapply-web-container .chat-container .chat-messages .content {
  max-height: 100%;
  overflow: auto;
  padding: 1em 0;
}

#continue-applying-container > div {
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#continue-applying-container #jobs-count {
  background: var(--primary-color);
  color: white;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  font-weight: 500;
  position: absolute;
  top: 0px;
  left: 8px;
  width: max-content;
  padding: 0 4px;
  height: 23px;
  min-width: 23px;
}

#continue-applying-container .header-container {
  overflow: hidden;
}

#continue-applying-container svg {
  color: var(--primary-color);
  min-width: 22px;
  height: auto;
}


.job-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  font-size: 1em;
}

.small-text , .eapply-web-container .clr-secondary {
  font-size: 14px;
  color: #8A8A8A;
}


.eapply-web-container .clr-primary {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.eapply-web-container .eapply-popup .popup-header .close-popup {
  all: unset;
  color: var(--primary-color);
  cursor: pointer;
}

.eapply-web-container .eapply-popup .popup-header .close-popup svg {
  display: block !important;
}

.eapply-web-container .chat-container .chat-messages .bubble-container.from-user .bubble {
  color: white;
  border-radius: 15px 0 15px 15px;
  background-color: var(--primary-color);
}


.eapply-web-container .chat-container .chat-messages .bubble-container .bubble {
  color: black;
  border-radius: 0px 15px 15px 15px;
  background: #EAEAEA;
}

.eapply-web-container .chat-container .chat-controls .chat-input-container button,
.eapply-web-container .chat-container .chat-controls .chat-input-container button:active,
.eapply-web-container .chat-container .chat-controls .chat-input-container button:hover {
  background: var(--primary-color);
  width: 30px;
  height: 30px;
  right: 5px;
  top: 4px;
  padding: 4px !important;
  border-radius: 50%;
}

.eapply-web-container .chat-container .chat-controls .chat-input-container button  svg {
  fill: white !important;
  width: 14px;
}

.eapply-web-container .chat-container .chat-controls .chat-input-container input {
  border-radius: 20px;
  border: 1px solid #DDD;
  background: #FBFBFB;
}


.eapply-web-container .chat-container .completed .branding {
  display: none;
}

.eapply-web-container .chat-container .completed .eapply-btn {
  color: white;
}

[data-tooltip]:hover::after {
  display: block;
  position: fixed;
  content: attr(data-tooltip);
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;
}


#job-details {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  height: calc(100% - 4.5em);
  padding: 0 1em 1em;
}


.job-tags {
  display: flex;
  gap: 4px;
}

.job-tags .job-tag {
  border-radius: 6px;
  border: 1px solid #8A8A8A;
  display: flex;
  color: #8A8A8A;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.3em 0.5em;
  text-transform: capitalize;
}



#job-details .job-container .header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0 1em;
  background: white;
  position: sticky;
  top: -0.5em;
}

.job-container .header .info svg {
  color: var(--primary-color);
  margin-inline-end: 6px;
}

.job-container .header .info > div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  font-weight: 400;
  text-transform: capitalize;
}

#job-details .job-description img {
  max-width: 10em;
  height: auto;
  margin-top: 1em;
  max-height: 10em;
}

#job-details .job-description p, #job-details .job-description h2 {
  margin-bottom: 1.5em;
}

#job-details .job-description h2, #job-details h4 {
  font-size: 1.2em;
}

#job-details .job-container .apply-btn {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.7em 2.5em;
  border-radius: 100px;
  white-space: nowrap;
  border: 0;
  font-size: 0.85em;
  display: inline-block !important;
}

.eapply-web-container .eapply-popup .popup-content {
  height: calc(100% - 4em);
}

.eapply-web-container .eapply-btn {
  background-color: var(--primary-color);
}


@media screen and (max-width: 600px) {
  #job-details .job-container .header .apply-btn {
    display: none !important;
  }

  .apply-btn-container {
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.12);
    position: fixed;
    bottom: 3em;
    width: 100%;
    background: white;
    left: 0;
    padding: 1.5em 0 1.5em;
    text-align: center;
  }

  .apply-btn-container .apply-btn {
    width: 90%;
  }

  #job-details {
    height: calc(100% - 8.5em);
  }
  
}


.eapply-web-container[data-container-type="rvp"] .header .apply-btn {
  display: none !important
} 

.eapply-web-container[data-container-type="rvp"] #job-details {
  height: calc(100% - 8.5em);
}

.eapply-web-container[data-container-type="rvp"] .apply-btn-container {
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  bottom: 3.5em;
  width: 100%;
  background: white;
  left: 0;
  padding: 1.5em 0 0.5em;
  text-align: center;
}

.eapply-web-container[data-container-type='rvp'] .apply-btn-container .apply-btn {
  width: 90%;
}